
.card-tour
    position: relative
    height: 50rem
    perspective: 250rem
    -moz-perspective: 150rem
    &__side
        height: 50rem
        transition: .5s all ease-out
        color: black
        position: absolute
        top: 0
        left: 0
        width: 100%
        backface-visibility: hidden       // делает невидммым заднюю сторону карточки
        box-shadow: $box-shadow
        border-radius: 3px
        overflow: hidden
        &_front
            // background: yellow
        &_back
            overflow: hidden
            border-radius: 3px
            transform: rotateY(180deg) // по умолчанию добавлен переворот на 180 по игрек оси
            background: linear-gradient(120deg, $color-brown-light, $color-brown-dark)
    &:hover &__side_front
        transform: rotateY(-180deg)
    &:hover &__side_back
        transform: rotateY(0deg)
    &__img
        background-blend-mode: hard-light // ддобавляет наложение слоя хард лайт
        height: 21rem
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%)
        &_1
            background: $color-brown-light url(../img/tours_card_1.jpg) center/cover no-repeat
        &_2
            background: $color-brown-light url(../img/tours_card_2.jpg) center/cover no-repeat
        &_3
            background: $color-brown-light url(../img/tours_card_3.jpg) center/cover no-repeat
    &__title
        font-size: 2.8rem
        letter-spacing: .2rem
        font-weight: 300
        text-transform: uppercase
        text-align: right
        color: $color-white
        position: absolute
        top: 17rem
        right: 0rem
    &__span
        background: linear-gradient(90deg, $color-brown-light, $color-brown-dark )
        padding: 1rem 2rem .3rem 2rem
        &_1
        &_2
            position: absolute
            top: 3.4rem
            right: 0
            padding-bottom: 1rem
            padding-top: .3rem
    &__descr
        ul
            list-style: none
            margin: 0 auto
            width: 80%
            text-align: center
            li
                font-size: $font-size-paraagraph
                letter-spacing: .2rem
                color: $color-gray
                border-bottom: 1px solid $color-gray
                display: inline-block
                &:not(:last-child)
                    margin-bottom: 2rem

    &__backSide-box
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
    &__text
        color: $color-white
        margin-bottom: 8rem
        letter-spacing: .2rem
        text-transform: uppercase
        text-align: center 
        &_1
            font-size: $font-size-paraagraph
            font-weight: 300
            
        &_2
           font-size: 6rem
           font-weight: 500 
