
*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    font-family: 'Roboto', sans-serif
    font-weight: 400
    color: #777777
    font-size: 16px
    letter-spacing: 2px
    padding: 50px
    background-color: #fff

.container
    background-color: #F7F7F7

.header
    position: relative
    height: 95vh
    background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../img/header-bbackground.jpg) center / cover no-repeat
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%) // делает вырезанный уголок на бэкграунде
    &__logo
        position: absolute
        left: 50px
        top: 50px
        height: 70px
        width: 56px
    &__box
        position: absolute
        top: 40%
        left: 50%
        transform: translate(-50%, -50%) // делает смещение для абсолютного позиционирования по центру элемента
        width: 100%
        text-align: center
.title-first
    color: #FFF

    &__main
        display: block
        color: #FFF
        font-size: 50px
        font-weight: 800
        line-height: 60px
        letter-spacing: 10px
        text-transform: uppercase
        margin-bottom: 10px
        animation-name: leftToRight // применение анимации
        animation-duration: 2s // длительность анимации
        animation-delay: .5s // задержка анимации
        animation-timing-function: ease-in-out
        backface-visibility: hidden // не даёт сайд эффектов анимацииям, типа задней стороны фигуры
    &__secondary
        display: block
        font-size: 40px
        font-weight: 100
        line-height: normal
        letter-spacing: 5px
        animation-name: rightToLeft // применение анимации
        animation-duration: 2s // длительность анимации
        animation-delay: .5s // задержка анима ции
        animation-timing-function: ease-in-out
        backface-visibility: hidden // не даёт сайд эффектов анимацииям, типа задней стороны фигуры
        margin-bottom: 65px
.btn
    &:link, &:visited
        position: relative
        border-radius: 50px
        display: inline-block
        text-transform: uppercase
        text-decoration: none
        color: #777777
        padding: 15px 40px
        background: white
        transition: all .25s                                    // ддлительность анимаций при ховере и нажатии
        &:hover
            transform: translateY(-3px)                         // добваляет подъём при ховере
            box-shadow: (0px 4px 4px rgba(0, 0, 0, .3))
            &::after
                transform: scaleX(1.45) scaleY(1.9)             // добавляет анимацию псевдоэлементу при ховере
                opacity: 0
        &:active
        transform: translateY(-2px)                             // добваляет подъём при наажатии
            box-shadow: (0px 4px 4px rgba(0, 0, 0, .1))
    &::after                                                    // псевдоэлемент для анимации взрыва кнопки
            content: ""
            background: white
            width: 100%
            height: 100%
            border-radius: 50px
            display: inline-block
            position: absolute
            top: 0
            left: 0
            z-index: -1
            transition: all .3s                                 // длитеьлность анимации взрыва кнопки

@keyframes leftToRight
    0%                                          // настройка анимации
        opacity: 0
        transform: translateX(-100px)
    50%
        transform: translateX(20px)
    100%
        opacity: 1
        transform: translateX(0px)

@keyframes rightToLeft
    0%                                          // настройка анимации
        opacity: 0
        transform: translateX(100px)
    50%
        transform: translateX(-20px)
    100%
        opacity: 1
        transform: translateX(0px)
